# build artifacts
*.o
*.lo
*.la
.deps/
.libs/
/src/butt
/src/cli/buttcli
config.log
config.status
autom4te.cache/
stamp-h1
*~

# configure-generated (regenerate with ./configure)
config.h
/Makefile
/src/Makefile
/po/Makefile
/po/Makefile.in
/po/POTFILES
src/FLTK/.dirstamp
